@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    background-color: #121417;
    font-family: 'Overpass', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    background-color: #252d37;
    display: block;
    animation: slidein 2s;
}

@keyframes slidein {
    from {
      margin: -300px auto;
    }
  
    to {
      margin: 0px auto;
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    background-color: #252d37;
    animation: slidein 2s;
}


.svg {
    width: 33px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: rgba(124, 135, 152, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg img {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title-start {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: left;
}

p.paragraph-start {
    color: #959eac;
    text-align: left;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.buttons .avaliacao input {
    text-align: center;
    background-color: rgba(124, 135, 152, 0.3);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    color: #959eac;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.buttons .avaliacao input:first-child  {
    margin-left: 0;
}

.buttons .avaliacao input:hover {
    background-color: #959eac;
    color: #ffffff;
    transition: .7s;
}

.buttons .avaliacao input:focus {
    background-color: #fb7413;
    color: #ffffff;
    transition: .7s;
}

.enviar {
    text-align: center;
    margin-top: 20px;
}

.enviar input {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background: #fb7413;
    color: #ffffff;
    cursor: pointer;
    font-size: .8rem;
}

.enviar input:hover {
    background-color: #ffffff;
    color: #fb7413;
    transition: .5s;
}

img.thank-you {
    max-width: 162px;
    display: block;
    margin: 0 auto;
}

.paragraph-special {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgba(124, 135, 152, 0.3);
    color: #fb7413;
    border-radius: 20px;
    max-width: 190px;
}

h1.title-end {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

p.paragraph-end {
    text-align: center;
    color: #959eac;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: .9rem;
}

.attribution { 
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem; 
    text-align: center; 
    color: #959eac;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* --- RESPONSIVIDADE --- */

@media (max-width: 630px) {
    .container {
        overflow: auto;
    }

    .show {
        overflow: auto;
    }

    .buttons {
        justify-content: center;
    }

    .buttons .avaliacao input {
        margin: 5px;
    }

    img.thank-you {
        max-width: 100px;
    }

    .attribution {
        margin-top: 190px;
    }
}


@media (max-width: 330px) {
    body {
        font-size: 30%;
    }

    .container {
        max-width: 200px;
        overflow: scroll;
    }

    .buttons {
        justify-content: center;
        
    }

    .buttons .avaliacao input {
        width: 30px;
        height: 30px;
    }

    .enviar input {
        width: 70px;
    }

    .show {
        max-width: 200px;
        overflow-y: scroll;
    }

    img.thank-you {
        max-width: 60px;
    }
}